defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /dev/stderr

account        default
host           {{SMTP_HOST}}
port           {{SMTP_PORT}}
from           {{SMTP_FROM}}
user           {{SMTP_USER}}
password       {{SMTP_PASSWORD}}
